

body {
    background-color:white;
  }

  .card{
    background: linear-gradient(to right, #a2c2e4, #f0f9ff);
  }
  
  .card-header {
    background-color: #007bff !important;
    color: white;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
